@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    test tekst
<<<<<<< HEAD
        @ViewBag.Pozdrav - bla extra a!!!
=======
        @ViewBag.Pozdrav - bla extra 2!!!
>>>>>>> Goran
    </div>
</body>
</html>
