@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    test tekst
        @ViewBag.Pozdrav - bla extra 2!!!
    </div>
</body>
</html>
