@if(Session["email"] != null)
{
    <ul class="nav navbar-nav navbar-right" >
        <li style="color:white; text-align:center; padding:0px; margin:0px"> Zdravo @Session["email"].ToString()@Html.ActionLink("Odjava", "Odjava", "Prijava") </li>
    </ul>
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Prijava","Prijava","Prijava")</li>
    </ul>
}
