@{
    ViewBag.Title = "O aplikaciji";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Opis projekta:
Potrebno je izraditi program u .NET MVC tehnologiji za potrebe upravljanja zgradama. Aplikacija će omogućavati komunikaciju stanara zgrade s upraviteljem. Aplikacija će imati dvije razine funkcionalnosti: stanari, predstavnik zgradi administrativna. Stanari imaju mogućnost uvida u stanje zgrade, pregled prijava i financijskog izviješća. Predstavnik zgrade ima mogućnost kontaktiranja sa Upraviteljem. Administrativna se odnosi na postupak objavljivanja informacija i vođenje podataka o zgradama
Aplikacija neka ima 2 vrste korisnika: administrator, stanar (+ predstavnik zgrade). Svi podaci zapisani su u MySQL bazi. SVE STRANICE APLIKACIJE TREBAJU BITI RESPONZIVNE.</p>
