@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BANA JOSIPA JELAČIĆA 22a<br />
    40 000 Čakovec<br />
    <abbr title="Telefon">T:</abbr>
    +385(0)40396 990

</address>

<address>
    <strong>Email:</strong>   <a href="mailto:goran.david@student.mev.hr">goran.david@student.mev.hr</a><br />
    <strong>Email2:</strong> <a href="mailto:tomislav.zidov@student.mev.hr">tomislav.zidov@student.mev.hr</a>
</address>