@{
    ViewBag.Title = "PAUP zgrade - projekt";
}

<div class="jumbotron">
    <h1>Zgradar.NET</h1>
    <p class="lead">Ovo je aplikacija za administraciju zgrada, što uključuje pričuve, prigovore, komunikaciju između stanara i još brojne stavke.</p>
    <p><a href="/home/about" class="btn btn-danger btn-lg">Više o tome &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/img/zgradaimg_1.jpg" width="360" height="270"/>
        <h2>Upravitelj.NET</h2>

        <p>Link za upravitelje zgrada
        </p>
        <p><a class="btn btn-danger" href="/Home/AdminIndex">Administracija &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/img/zgradaimg_2.jpg" width="360" height="270"/>
        <h2>Obavijesti</h2>
        <p>
            Pregled obavijesti za stanare
        </p>
        <p><a class="btn btn-danger" href="/Obavijestis/pregledObavijesti">Obavijesti &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/img/zgradaimg_3.jpg" width="360" height="270"/>
        <h2>Pošalji poruku</h2>
        <p>
            Imaš neki prijedlog, primjedbu ili prijavu štete na zgradi, kontaktiraj preko ovog obrasca
        </p>
        <p><a class="btn btn-danger" href="/porukas/create">Kontaktiraj &raquo;</a></p>
    </div>
</div>