@model IEnumerable<PAUP_zgrade.Models.obavijesti>

@{
    ViewBag.Title = "Pregled obavijesti";
}

@if (Session["email"] != null)
{
<div style="position:absolute; right:20px;">
    <img src="~/Content/img/obavijesti/notices_coplek.png"; width="200" height="210"/>
</div>

   <h2>Pregled obavijesti</h2>

    <p>
        <span class="glyphicon glyphicon-print"></span> @Html.ActionLink("Ispiši listu", "Ispisi", new { target = "blank" })
    </p>

    foreach (var item in Model)
    {
        <hr />
        <div style="background-color:#F0F8FF; margin: 10px; padding:10px;">

            <h3><b> @Html.DisplayFor(modelItem => item.temaObavijest)</b></h3>

            <h7>Datum obavijesti:</h7>

            <p>@Html.DisplayFor(modelItem => item.datumObavijest)</p>
            <br />
            <br />

            <h4><b>Sadržaj:</b></h4>

            <p> @Html.DisplayFor(modelItem => item.tekstObavijest)</p>

        </div>

    }
}
else
{ <br /><p>Molimo ulogirajte se</p>}